{
    "printWidth": 200,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": false,
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["**/*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
